
*.mp4

OpenPose_bak/pose/coco/

*.jpg

*.avi

*.cpp

OpenPose_bak/OpenPoseVideo

OpenPose_bak/OpenPoseImage

*.jpeg

OpenPose_bak/hand/

OpenPose_bak/CMakeLists\.txt

OpenPose_bak/CMakeFiles/

*.cmake

OpenPose_bak/

*.caffemodel

OpenPose/pose/mpi/

OpenPose/pose/coco/

*.zip

OpenPose/__pycache__/

*.swp

OpenPose/model\.zip\?dl=0

*.pyc

SamplePoses/
